* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

body {
  height: 100vh;
}

.container {
  height: 100vh;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.search_box_container {
  padding: 10px;
  background: red;
  align-items: center;
  justify-content: space-between;
  display: flex;
  border-radius: 50px;
  /* transition: width 3s ease;  */
  /* width:600px; */
}

.search_box {
  /* display: none; */
  width: 0px;
  border-radius: 25px;
  outline: none;
  border: none;
  height: 35px;
  
}

.search_box.active {
  display: inline-block;
  background: pink;
  width: 400px;
  
}

.fas.fa-search {
  background-color: aqua;
  padding: 15px;
  border-radius: 50%;
  
}

.fas.fa-search.active {
  display: none;
}

.fas.fa-times {
  
}










.fas.fa-times {
  background-color: aqua;
  padding: 15px 17px;
  border-radius: 50%;
  display: none;
}

.fas.fa-times.active {
  background: blue;
}








