* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

body {
  height: 100vh;
}

.container {
  height: 100vh;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.serach_box_container {
  padding: 10px;
  background: red;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50px;
  /* width:600px; */
}

.search_box {
  display: none;
  width: 430px;
  /* margin: 0 5px 0 0; */
  border-radius: 25px;
  outline: none;
  border: none;
  height: 35px;
  transition: width .3s ease-in-out;
  
}



.search_box.active {
  display: block;
}

.fas.fa-search {
  background-color: aqua;
  padding: 15px;
  border-radius: 50%;
}

.fas.fa-sesarch.active {
  display: none;
}


.fas.fa-times {
  background-color: aqua;
  padding: 15px;
  border-radius: 50%;
  display: none;
}



.fas.fa-times.active {
  display: block;
}



